<div class="topics_list two">
  <h3><%= @resource.name.upcase %> REVIEWS</h3>
    <%= button_to "review", new_topic_resource_review_path(@resource.topic_id, @resource), method: "get", class: "button" %>
  <% @reviews.each do |review| %>
  <p class ="topic"><%=review.stars %> STARS (out of 5)</p>
  <p class ="topic"><%=review.body%>
  <p class ="topic"><%=review.author %></p><br />
  <% if current_user %>
    <div class="container">
      <%= button_to "edit", edit_review_path(@review), method: "get", class: "button" %>
      <%= button_to "delete", review_path(@review), method: "delete", class: "button",data: {confirm: "Are you sure? (this action can not be undone)"} %>
    </div>
  <% end %>
<% end %>
</div>
