<!DOCTYPE html>
<html>
  <head>
    <title>Gather</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">
      <div class="one">
        <div class="header">
          <%= image_tag("gather_logo_smaller.png", :alt => "gather logo", class:"logo") %>
        </div>
      </div>
      <%= render :partial => "sidebar" %>
      <%= yield %>
    </div>
  </body>
</html>
