<div class = "edit-help-form">
  <ul class="errors">
    <% if @help %>
      <% @help.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    <% end %>
  </ul>
<div class = "fields">
  <%= form_for @help, url: help_path do |f| %>
    <p>
      <%= f.label :summary %>
      <%= f.text_area :summary , size: "34x20", value: @help.summary %>
    </p>
      <%= f.submit "Submit", class: "button" %>
  <% end %>
  </div>
</div>
