<div class="topics_list two">
  <div class="new-user-form">
    <h3>Create a new admin</h3>

    <%= form_for :user, url: '/users' do |f| %>

      Name: <%= f.text_field :name %>
      Email: <%= f.text_field :email %>
      Password: <%= f.password_field :password %>
      Password Confirmation: <%= f.password_field :password_confirmation %>
      <%= f.submit "Submit", class: "button" %>

    <% end %>
  </div>
</div>
