<div class = "edit-article-form">
  <ul class="errors">
    <% if @article %>
      <% @article.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    <% end %>
  </ul>
<div class = "fields new_article">
  <h3>Edit article</h3>
  <%= form_for @article, url: topic_article_path do |f| %>
    <p>
      <%= f.label :author %>
      <%= f.text_field :author, value: @article.author, size: "24" %>
    </p>
    <p>
      <%= f.label :email %>
      <%= f.text_area :email, value: @article.email, size: "40" %>
    </p>
    <p>
      <%= f.label :summary %>
      <%= f.text_area :body, value: @article.body, size: "40x20" %>
    </p>
      <%= f.submit "Submit" %>
  <% end %>
  </div>
</div>
