<div class="topics_list two">
  <h3>WHAT EXPERTS SAY ABOUT <%= @topic.name.upcase %></h3>
  <% if current_user %>
  <%= button_to "add an expert summary", new_topic_article_path, method: "get" %>
    <% end %>
  <% @articles.each do |article| %>
  <h5 class ="topic"><%=article.body %></h5>
  <h5 class ="topic">-<%=article.author %></h5>
    <% if current_user %>
      <%= button_to "edit this summary", edit_topic_article_path(@topic, article), method: "get", class: "edit" %>

      <%= button_to "delete this summary", topic_article_path(@topic, article), method: "delete", class: "delete",data: {confirm: "Are you sure? (this action can not be undone)"} %>
    <% end %>
  <% end %>

</div>
