<div class="topics_list col span-4-t span-8-d">
  <h3>WHAT EXPERTS SAY ABOUT <%= @topic.name.upcase %></h3>
  <% if current_user %>
  <%= button_to "add an expert summary", new_topic_article_path, method: "get" , class: "button" %>
    <% end %>
  <% @articles.each do |article| %>
  <h5 class ="topic"><%= simple_format(article.body) %></h5>
  <h5 class ="topic">-<%= article.author %><span class="italic"> -- updated: <%= article.updated_at.strftime("%B %d, %Y") %> </span></h5>
    <% if current_user %>
      <div class="container">
        <%= button_to "edit", edit_topic_article_path(@topic, article), method: "get", class: "button" %>
        <%= button_to "delete", topic_article_path(@topic, article), method: "delete", class: "button",data: {confirm: "Are you sure? (this action can not be undone)"} %>
      </div>
    <% end %>
  <% end %>

</div>
