<div class = "new-article-form">
  <ul class="errors">
    <% if @article %>
      <% @article.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    <% end %>
  </ul>
<div class = "fields new_article">
  <h3>New article about <%= @topic.name.capitalize %></h3>
  <%= form_for :articles, url: topic_articles_path do |f| %>
    <p>
      <%= f.label :author %>
      <%= f.text_field :author, size: "35", placeholder: "*display name" %>
    </p>
    <p>
      <%= f.label :email %>
      <%= f.text_field :email , size: "35", placeholder: "*not displayed" %>
    </p>
    <p>
      <%= f.label :summary %>
      <%= f.text_area :body , size: "34x6", placeholder: "summary" %>
    </p>
      <%= f.submit "Submit", class: "button" %>
  <% end %>
  </div>
</div>
