<div class="topics_list two">
  <h3><%= @topic.name.upcase %> RESOURCES</h3>
  <% if current_user %>
  <%= button_to "add a resource", new_topic_resource_path, method: "get" %>
    <% end %>
  <% @resources.each do |resource| %>
  <h5 class="topic"><%=resource.name%></h5>
  <h5 class ="topic"><%=resource.summary %></h5>
  <p class ="topic"><a href="http://<%=resource.url%>"><%=resource.url%></a> | <%=resource.phone %> | <a href="mailto:<%=resource.email%>"><%=resource.email %></a></p>
  <p class ="topic"><%=resource.address %> | <%=resource.zip_code %> | reviews: <%=resource.reviews.count %>| <span class ="topic"><%=link_to "read reviews", topic_resource_reviews_path(@topic.id, resource.id) %></span></p></br>
  <%= button_to "review", new_topic_resource_review_path(@topic, resource), method: "get", class: "button" %>

  <% if current_user %>
    <div class="container">
      <%= button_to "edit", edit_topic_resource_path(@topic, resource), method: "get", class: "button" %>
      <%= button_to "delete", topic_resource_path(@topic, resource), method: "delete", class: "button",data: {confirm: "Are you sure? (this action can not be undone)"} %>
    </div>
  <% end %>
<% end %>
</div>
