<div class = "new-resource-form">
  <ul class="errors">
    <% if @resource %>
      <% @resource.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    <% end %>
  </ul>
<div class = "fields new_resource">
  <h3>New <%= @topic.name.capitalize %> resource</h3>
  <%= form_for :resources, url: topic_resources_path do |f| %>
    <p>
      <%= f.label :'website (url)' %>
      <%= f.text_field :url, size: "24", placeholder: "resource website" %>
    </p>
    <p>
      <%= f.label :email %>
      <%= f.text_area :email , size: "40", placeholder: "contact email" %>
    </p>
    <p>
      <%= f.label :phone %>
      <%= f.text_area :phone , size: "40", placeholder: "contact phone" %>
    </p>
    <p>
      <%= f.label :address %>
      <%= f.text_area :phone , size: "40", placeholder: "physical address" %>
    </p>
    <p>
      <%= f.label :'zip code' %>
      <%= f.text_area :zip_code , size: "40", placeholder: "zip code" %>
    </p>
    <p>
      <%= f.label :summary %>
      <%= f.text_area :summary , size: "40x5", placeholder: "summary" %>
    </p>
      <%= f.submit "Submit" %>
  <% end %>
  </div>
</div>
