<div class = "new-story-form">
  <ul class="errors">
    <% if @story %>
      <% @story.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    <% end %>
  </ul>
<div class = "fields new-story">
  <%= form_for :stories, url: topic_stories_path do |f| %>
    <p>
      <%= f.label :author %>
      <%= f.text_field :author, size: "35", placeholder: "*display name" %>
    </p>
    <p>
      <%= f.label :story %>
      <%= f.text_area :body , size: "34x6", placeholder: "your story here" %>
    </p>
    <p>
      <%= f.label :email %>
      <%= f.text_field :email , size: "35", placeholder: "*not displayed" %>
    </p>
      <%= recaptcha_tags %>
      <%= f.submit "Submit", class: "button" %>
  <% end %>
  </div>
</div>
