<div class = "new-story-form">
  <ul class="errors">
    <% if @story %>
      <% @story.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    <% end %>
  </ul>
  <div class = "fields">
  <%= form_for :stories, url: topic_stories_path do |f| %>
    <p>
      <%= f.label :author %>
      <%= f.text_field :author, size: "24", placeholder: "*display name" %>
    </p>
    <p>
      <%= f.label :story %>
      <%= f.text_area :body , size: "40x20", placeholder: "your story here" %>
    </p>
    <p>
      <%= f.label :email %>
      <%= f.text_area :email , size: "24x2", placeholder: "*for Gather contact only - will not display" %>
    </p>
      <%= recaptcha_tags %>
      <%= f.submit "Submit" %>
  <% end %>
  </div>
</div>
