<div class = "edit-support-form">
  <ul class="errors">
    <% if @support %>
      <% @support.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    <% end %>
  </ul>
<div class = "fields">
  <%= form_for @support, url: support_path do |f| %>
    <p>
      <%= f.label :title %>
      <%= f.text_field :title , size: "35", value: @support.title %>
    </p>
    <p>
      <%= f.label :summary %>
      <%= f.text_area :summary , size: "34x20", value: @support.summary %>
    </p>
      <%= f.submit "Submit", class: "button" %>
  <% end %>
  </div>
</div>
