<div class"three">
  <div class="sidebar">
    <h3 class="topic"><%= link_to "Browse By TOPIC", topics_path %></h3>
    <h3 class="topic"><%= link_to "Browse By AGE", age_path %></h3>
    <h3 class="topic"><%= link_to "Info on PARENT<br/>
    EDUCATION<br/>
    and SUPPORT".html_safe, supports_path %></h3>
    <h3 class="topic"><%= link_to "HELP! I'm not sure", helps_path %> </h3>
    <h3 class="topic"><%= link_to "HOME", root_path %></h3>
  </div>
</div>
