<div class="topics_list col span-4-t span-8-d">
  <h1>AGE RANGES</h1>
  <h3 class ="topic"><%= link_to "0-3 MONTHS", agefilter_path(:ages => { min_age: 0, max_age: 3 }) %></h3>
  <h3 class ="topic"><%= link_to "4-6 MONTHS", agefilter_path(:ages => { min_age: 4, max_age: 6 }) %></h3>
  <h3 class ="topic"><%= link_to "7-12 MONTHS", agefilter_path(:ages => { min_age: 7, max_age: 12 }) %></h3>
  <h3 class ="topic"><%= link_to "13-18 MONTHS", agefilter_path(:ages => { min_age: 13, max_age: 18 }) %></h3>
  <h3 class ="topic"><%= link_to "19-36 MONTHS", agefilter_path(:ages => { min_age: 19, max_age: 36 }) %></h3>
  <h3 class ="topic"><%= link_to "37+ MONTHS", agefilter_path(:ages => { min_age: 37, max_age: 90 }) %></h3>
</div>
