<div class="topics_list two">
  <h3 class ="topic"><%= link_to "0-3 MONTHS", one_path %></h3>
  <h3 class ="topic"><%= link_to "3-6 MONTHS", two_path %></h3>
  <h3 class ="topic"><%= link_to "6-12 MONTHS", three_path %></h3>
  <h3 class ="topic"><%= link_to "12-18 MONTHS", four_path %></h3>
  <h3 class ="topic"><%= link_to "18-36 MONTHS", five_path %></h3>
  <h3 class ="topic"><%= link_to "36+ MONTHS", six_path %></h3>
</div>
