<div class="topic two">
  <h3 class="heading">AGE: <%=@topic.min_age%>-<%=@topic.max_age%> Months</h3>
    <h1><%=@topic.name.upcase %></h1>
  <h3 class="heading">DEFINITION:</h3>
    <%= simple_format(@topic.summary) %>

  <div class="show-buttons-container">
    <a href="/topics/<%= @topic.id %>/articles">
    <div class="container">
      <div class="circle orange">
        <div class="btn-text">
          WHAT EXPERTS SAY
        </div>
      </div>
    </div>
    </a>
    <a href="/topics/<%= @topic.id %>/stories">
    <div class="container">
      <div class="circle grey">
        <div class="btn-text">
          PARENT STORIES
        </div>
      </div>
    </div>
    </a>
    <a href="/topics/<%= @topic.id %>/resources">
    <div class="container">
      <div class="circle orange">
        <div class="btn-text">
          LOCAL RESOURCES
        </div>
      </div>
    </div>
    </a>
  </div>
  <% if current_user %>
    <div class="container">
      <%= button_to "edit", edit_topic_path(@topic), method: "get", class: "button" %>
      <%= button_to "delete", topic_path(@topic), method: "delete", class: "button",data: {confirm: "Are you sure? (this will also delete all associated articles, stories, and resources, and can not be undone)"} %>
    </div>
  <% end %>
</div>
