<div class="topic two">
  <h3 class="heading">AGE: <%=@topic.min_age%>-<%=@topic.max_age%> Months</h3>
    <h1><%=@topic.name.upcase %></h1>
  <h3 class="heading">DEFINITION:</h3>
    <%=@topic.summary%>

  <div class="show-buttons-container">
    <div class="container">
      <div class="circle orange">
        <div class="btn-text">
          <%= link_to 'WHAT EXPERTS SAY', topic_articles_path(@topic.id) %>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="circle grey">
        <div class="btn-text">
          <%= link_to 'PARENT STORIES', topic_stories_path(@topic.id) %>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="circle orange">
        <div class="btn-text">
          <%= link_to 'LOCAL RESOURCES', topic_resources_path(@topic.id) %>
        </div>
      </div>
    </div>
  </div>
</div>
