<!DOCTYPE html>
<html>
  <head>
    <title>WELCOME TO GATHER</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'trg', media: 'all', 'data-turbolinks-track': 'reload' %>    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div class="container">
        <div class="">
          <div class="header-container">
            <div class="landing-logo">
              <%= link_to image_tag("gather_logo_smaller.png", :alt => "gather logo", class:"logo"), root_path %>
            </div>
            <div class="welcome">
              <h1>WELCOME</h1>
              <h3>How can we help?</h3><br/>
            </div>
          </div>
        </div>
          <div class="topics_list topic four">
            <div class="buttons-container">
            <a href="/topics/">
              <div class="flex-container">
                <div class="circle orange">
                  <div class="btn-text">
                    BROWSE BY TOPIC
                  </div>
                </div>
              </div>
            </a>
            <a href="/age">
              <div class="flex-container">
                <div class="circle grey">
                  <div class="btn-text">
                    BROWSE BY AGE
                  </div>
                </div>
              </div>
            </a>
            <a href="/supports">
              <div class="flex-container">
                <div class="circle orange">
                  <div class="btn-text">
                    PARENT SUPPORT
                  </div>
                </div>
              </div>
              </a>
              <a href="/helps">
              <div class="flex-container">
                <div class="circle grey">
                  <div class="btn-text">
                    HELP<br />i'm not sure
                  </div>
                </div>
              </div>
              </a>
            </div>
            <div class="session">
            <% if current_user %>
              signed in as <%= current_user.name %> | <%= link_to "logout", '/logout' %> | <%= link_to 'Register a new admin', '/signup' %>
            <% else %>
              <%= link_to 'admin login', '/login' %>
            <% end %>
        </div>
      </div>
  </body>
</html>
